* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 90%;
    background-color: #ddd;
    margin: auto;
}

.card {
    background-color: white;
    border-radius: 8px;  
    padding: 1em;
    margin: 2em;
    min-width: 300px;
    flex: 1;
}

.card h2 {
    text-align: center;
}

.thumbnail {
    transition: 0.3s;
}

.thumbnail:hover {
    transform: scale(1.1);
}

@media (min-width: 800px) {
    .card {
        width: 32%;
    }
}

@media (min-width: 640px) {
    .card {
        width: 49%;
    }
}

@media (min-width: 480px) {
    .card {
        width: 99%;
    }
}